// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gray-row{
	background-color: WhiteSmoke;
}
.normal-row{
	background-color: none;
}
.center{
	text-align: center;
}